parameters:
	level: 8
	paths:
		- app
		- database/factories
		- database/seeders
		- routes
		- tests

	ignoreErrors:
	    -
	        message: '#^Undefined variable: \$this$#'
	        paths:
	            - routes/console.php
	            - tests/*

	    -
	        message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall::.*\(\).#'
	        paths:
	            - tests/*

	    -
	        message: '#^Call to an undefined method Pest\\Expectation<Illuminate\\Testing\\TestResponse\|null>::.*\(\).#'
	        paths:
	            - tests/*

	    -
	        message: '#^Access to an undefined property App\\Http\\Resources\\.*::\$.*.#'
	        paths:
	            - app/Http/Resources*

	    -
	        message: '#^Cannot call method toDateString\(\) on string.#'
	        paths:
	            - app/Http/Resources*

	    -
	        message: '#Parameter \#2 \$callback of method Illuminate\\Database\\Eloquent\\Relations\\HasMany<.*>::when\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Relations\\HasMany<.*>, bool\): .*\)\|null, Closure\(.*\): .* given\.#'
	        paths:
	            - app/*

