parameters:
	level: 9
	paths:
		- app
		- database/factories
		- database/seeders
		- routes
		- tests

	ignoreErrors:
	    -
	        message: '#^Undefined variable: \$this$#'
	        paths:
	            - routes/console.php
	            - tests/*

	    -
	        message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall::.*\(\).#'
	        paths:
	            - tests/*

	    -
	        message: '#^Call to an undefined method Pest\\Expectation<Illuminate\\Testing\\TestResponse\|null>::.*\(\).#'
	        paths:
	            - tests/*

	    -
	        message: '#^Parameter \$get of static method Illuminate\\Database\\Eloquent\\Casts\\Attribute<mixed,mixed>::make\(\) expects \(callable\(mixed, mixed\): .* given.#'
	        paths:
	            - app/Models/*

	    -
	        message: '#^Access to an undefined property App\\Http\\Resources\\.*::\$.*.#'
	        paths:
	            - app/Http/Resources*
